.post-link {
    text-decoration: none;
    color: inherit;
  }
  
  .post-card {
    display: flex;
    margin-bottom: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .post-image {
    max-width: 40%;
    object-fit: cover;
  }
  
  .post-content {
    padding: 20px;
    flex: 1;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .add-lecture-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Change color as needed */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-lecture-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }