.auth-card {
	background: #282828;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	max-width: 400px;
	margin: 2rem auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.auth-form {
	width: 100%;
}
input[type="text"],
input[type="password"],
select,
button {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	border: 1px solid #ccc;
}

button {
	background-color: #007bff;
	color: #ffffff;
	cursor: pointer;
	border: none;
}

button:hover {
	background-color: #0056b3;
}

.label,
.text,
p {
	width: 100%;
	text-align: center;
}

.text a,
.text span {
	color: #007bff;
	cursor: pointer;
}

.text a:hover,
.text span:hover {
	text-decoration: underline;
}

.error-text {
	color: #ff0000;
}

.field {
	width: 100%;
	padding: 0;
}
