/* app.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Set your desired background color */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Optional: Add styles for the Footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Optional: Add styles for the Home component */
  .home {
    text-align: center;
    margin-top: 50px;
  }
  
  /* Optional: Add styles for the Navigation component */
  .navigation {
    background-color: #343a40; /* Set your desired navigation bar color */
  }
  
  /* Optional: Add styles for the Navigation links */
  .navbar-brand,
  .nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ffc107; /* Change the color on hover */
  }
  
  /* Optional: Add styles for the active link */
  .nav-item.active .nav-link {
    color: #ffc107;
  }
  
  